/* Empty. Add your own CSS if you like */

 .n
    {
        background: url('../img/web2.jpg');
        background-size:cover;
   
        
    }

.ab
    {
        background: url('../img/web1.jpg');
        background-size:cover;
   
        
    }